<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="column">
        <h1>Industrias MIO</h1>
        <p>
          Contamos con mas de 8 años de experiencia y presencia en el mercado Colombiano asesorando a nuestros clientes en la compra de equipos para panadería y asaderos. Así como también en la fabricación de todo tipo de muebles en acero.
          En industrias MIO encontrara expertos que lo ayudarán a solucionar los problemas de su negocio.
        </p>
    </md-content>
</div>
