<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="4">
    <md-toolbar class="md-theme-indigo">
        <a class="docs-logo" ui-sref=".inicio">
            <img src="build/img/logos/mio.svg" alt="">
            <h1 class="docs-logotype md-heading ng-isolate-scope">Industrias MIO</h1>
        </a>
    </md-toolbar>
    <md-content layout-padding flex ng-controller="toolbarCtrl">

        <md-list ng-cloak>
            <!--
            <md-subheader class="md-no-sticky">Industrias MIO</md-subheader>
          -->
            <md-list-item class="secondary-button-padding" ng-click="close()" ui-sref=".inicio">
                <md-icon md-font-icon="fa-home" class="fa fa-fw"></md-icon>
                <p>Inicio</p>
            </md-list-item>
            <md-list-item class="secondary-button-padding" ng-click="close()" ui-sref=".productos">
                <md-icon md-font-icon="fa-star" class="fa fa-fw"></md-icon>
                <p>Productos y Servicios</p>
            </md-list-item>
            <md-list-item class="secondary-button-padding" ng-click="close()" ui-sref=".catalogo">
                <md-icon md-font-icon="fa-book" class="fa fa-fw"></md-icon>
                <p>Catálogo</p>
            </md-list-item>
            <md-list-item class="secondary-button-padding" ng-click="close()" ui-sref=".contacto">
                <md-icon md-font-icon="fa-envelope" class="fa fa-fw"></md-icon>
                <p>Contacto</p>
            </md-list-item>
        </md-list>
        <!--
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
        Close Sidenav Left
        </md-button>
        <p hide show-gt-md>
        This sidenav is locked open on your device. To go back to the default behavior,
        narrow your display.
        </p>
        -->
    </md-content>
</md-sidenav>
<div layout="column" flex>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Toggle Menu" ng-click="toggleLeft()" hide-gt-sm="$mdMedia('gt-md')">
                <md-icon md-font-icon="fa-navicon" class="fa fa-fw"></md-icon>
            </md-button>
            <h2 class="md-toolbar-item md-breadcrumb md-headline ng-isolate-scope">
              <span ng-bind="(title || 'Industrias MIO')"></span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-font-icon="fa-ellipsis-v" class="fa fa-fw"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout="column" flex md-scroll-y>
        <md-content flex layout-padding>
            <div id="main" class="docs-ng-view" ng-view layout-padding flex="noshrink">
                <!-- Aquí inyectamos las vistas -->
                <div ui-view="contenidoMenu" class="doc-content" ng-view></div>
            </div>
        </md-content>
    </md-content>
</div>
